@media screen and (min-width:200px) and (max-width:480px) {
    body{
        overflow-x: hidden;
    }
    
    .d-desktop {
        visibility: hidden;
        display: none;
    }
    
    .d-mobile{
        visibility: visible;
        display: inherit;
    }
    
    .logo{
        width: 150px;
    }
    
    #now-showing .content{
        overflow-x: scroll;
        justify-content: flex-start !important;
        gap: 10px;
    }
    
    #now-showing .content::-webkit-scrollbar{
        display: none !important;
    }
    
    #now-showing .content img{
        width: 150px;
    }
    
    
    #upcoming-movies .content{
        overflow-x: scroll;
        justify-content: flex-start !important;
        gap: 10px;
    }
    
    #upcoming-movies .content::-webkit-scrollbar{
        display: none !important;
    }
    
    #upcoming-movies .content img{
        width: 150px;
    }
    
    .Months-scroll{
        overflow-x: scroll;
        width: 100%;
        display: inline;
        padding-top: 20px;
        gap: 10px;
    }

    .month-view{
        justify-content: flex-start;
    }
    
    #upcoming-movies .Months-scroll::-webkit-scrollbar{
        display: none !important;
    }
    
    .justify-content-center-mobile{
        justify-content: center;
    }
    
    .text-center-mobile{
        text-align: center;
    }
    
    #upcoming-movies .text-muted-mobile {
        font-size: 15px !important;
    }
    
    .cta-mobile{
        font-size: 46px;
    }
    
    .form-mobile{
        width: 90%;
        padding-left: 30px;
        padding-right: 10px;
    }
    
    .btn-mobile{
        width: 100%;
    }    
}