#register_page .left-content{
    width: 100%;
    height: 100vh;
    background-image: url("/public/images/ImageAuth.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#register_page .Text{
    font-size: 48px;
    color: #FFFFFFCC;
}

#register_page .right-content{
    display: flex;
    align-items: center;
    height: 100vh;
}