#detail_page #header_content img {
  width: 236.72px;
  height: 362.82px;
  border-radius: 6px;
  object-fit: cover;
}

.border-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dedede;

  height: 458px;
  width: 332px;
  border-radius: 10px;
}

.main_content h1 {
  color: #14142b;
  font-size: 32px;
}

.main_content .genres {
  color: #4e4b66;
  font-size: 18px;
  text-transform: capitalize;
}

.card_cinemas {
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 13px -1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 13px -1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 13px -1px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}

.card_header {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  padding: 30px 30px 0px 30px;
}

.card_header img {
  width: 120px;
  height: 50px;
  object-fit: contain;
}

.card_header p {
  font-size: 12px;
  color: #6e7191;
  margin: 0;
}

.card_bottom {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 0px 30px 20px 30px;
}

.card_bottom p{
  color: #4e4b66;
  font-size: 12px;
}

.card_price{
  display: flex;
  justify-content: space-between;
  padding: 0px 30px 0px 30px;
}