#detail_page #header_content img {
  width: 236.72px;
  height: 362.82px;
  border-radius: 6px;
  object-fit: cover;
}

.border-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dedede;

  height: 458px;
  width: 332px;
  border-radius: 10px;
}

.main_content h1 {
  color: #14142b;
  font-size: 32px;
}

.main_content .genres {
  color: #4e4b66;
  font-size: 18px;
  text-transform: capitalize;
}
