@media screen and (min-width: 200px) and (max-width: 480px) {
  #now-showing .content {
    overflow-x: scroll;
    justify-content: flex-start !important;
    gap: 15px;
  }

  #now-showing .content::-webkit-scrollbar {
    display: none !important;
  }

  #now-showing .content img {
    width: 200px
  }

  #upcoming-movies .content {
    overflow-x: scroll;
    justify-content: flex-start !important;
    gap: 15px;
  }

  #upcoming-movies .content::-webkit-scrollbar {
    display: none !important;
  }

  #upcoming-movies .content img {
    width: 200px;
  }

  #upcoming-movies .Months-scroll::-webkit-scrollbar {
    display: none !important;
  }

  #upcoming-movies .text-muted-mobile {
    font-size: 15px !important;
  }
  
}
